*{
    margin:0px;
    padding:0px;
}
body{
    font-size: 12px;
    font-family: 'courier New', courier, monospace;
    padding: 0px;
    margin:  0px;
}
#header{
    width:100%;
    float:left;
    background: blue;
    height:100px;
}
.header_inner_content {}
.header_inner_content h1{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    padding-top: 30px;
}
#content{
    width:100%;
    float:left;
    height: 600px;
}
.content_left_section{
    width:35%;
    float:left;
    background: white;
}
.nav{
    width:200px;
    float:left;
    padding-top: 100px;
    padding-left: 100px;
}
.nav ul{
    margin:0px;
    padding: 0px;
}
.nav ul li{
    font-family:Arial, Helvetica, sans-serif;
    color:blue;
    font-size: 16px;
}
.content_right_section{
    width:65%;
    float:left;
    background-color: #ccc;
    height: 600px;
   
}
.content_inner_right_section{
    padding-top: 100px;
    padding-left: 100px;
}
.content_right_section h2{
    font-size: 32px;
    color: black;
}
.content_right_section p{
    font-size:16px;
    color:black;
}
#footer{
    width:100px;
    float:left;
    background: blue; 
    height: 100px;
}
.footer_inner_content{}

.footer_inner_content h1{
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    padding-top: 30px;
}
#footer{
    width:100%;
    float:left;
    background: blue;
    height:100px;
}
.footer_inner_content{}
.footer_inner_content h1{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    padding-top: 30px;
}